# Desafío - Control de Flujo

## Desafío 1

Generar un par de arrays ficticios con numpy

- tip: utilice la función linspace para generar un array entre 1 y 50, y un array entre 50 y 150.

In [1]:
import numpy as np

In [2]:
array1 = np.linspace(1, 50, dtype=int)
array1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [3]:
array2 = np.linspace(50, 150, dtype=int)
array2

array([ 50,  52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,
        76,  78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 101,
       103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127,
       129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 150])

## Desafío 2

Ejecute un loop que devuelva si el número en el primer array es par o impar

- tip: utilice la función módulo para encontrar si el número es divisible por 2.

In [4]:
for n in array1:
    if n % 2 == 0:
        print('{} es par'.format(n))
    else:
        print('{} es impar'.format(n))

1 es impar
2 es par
3 es impar
4 es par
5 es impar
6 es par
7 es impar
8 es par
9 es impar
10 es par
11 es impar
12 es par
13 es impar
14 es par
15 es impar
16 es par
17 es impar
18 es par
19 es impar
20 es par
21 es impar
22 es par
23 es impar
24 es par
25 es impar
26 es par
27 es impar
28 es par
29 es impar
30 es par
31 es impar
32 es par
33 es impar
34 es par
35 es impar
36 es par
37 es impar
38 es par
39 es impar
40 es par
41 es impar
42 es par
43 es impar
44 es par
45 es impar
46 es par
47 es impar
48 es par
49 es impar
50 es par

## Desafío 3

Genere un loop con el segundo array que cuente las siguientes condiciones

- Si el número es divisible por 2 o 3
- Si el número es divisible por 2 y 3
- Si el número es divisible por 3 pero no por 2
- si el número no es divisible por 2 ni 3

In [5]:
count = {
    'divisible por 2 o 3': 0,
    'divisible por 2 y 3': 0,
    'divisible por 3 pero no por 2': 0,
    'no es divisible por 2 ni 3': 0,
}

for n in array2:
    div_by_2 = n % 2 == 0
    div_by_3 = n % 3 == 0
    if div_by_2 or div_by_3:
        count['divisible por 2 o 3'] += 1
    if div_by_2 and div_by_3:
        count['divisible por 2 y 3'] += 1
    if div_by_3 and not div_by_2:
        count['divisible por 3 pero no por 2'] += 1
    if not div_by_2 and not div_by_3:
        count['no es divisible por 2 ni 3'] += 1

for desc in count:
    print('Cantidad de {} es {}'.format(desc, count[desc]))

Cantidad de divisible por 2 o 3 es 34
Cantidad de divisible por 2 y 3 es 9
Cantidad de divisible por 3 pero no por 2 es 8
Cantidad de no es divisible por 2 ni 3 es 16

## Desafío 4

Corrección de errores

```python
for i in range(100):
    print(I**2)
```

In [6]:
for i in range(100):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

## Desafío 5

- Utilizando la misma base flights.csv hacer un loop y clasificar los meses con una cantidad de pasajeros menor a la media
- Para ello, generen un nuevo objeto que represente la media de passengers.
- Generen una columna en la base de datos que se llame underperforming y asígnele 0.
- Ejecuten un loop que recorra cada observación de passengers , donde si la observación es menor a la media de passengers se le asigne a underperforming un 1.
- Para asignar unos en la columna underperforming ya creada, utilice la función set_value.

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('flights.csv')

In [9]:
mean = np.mean(df['passengers'])
mean

280.2986111111111

In [10]:
for row_index, row in df.iterrows():
    if row['passengers'] < mean:
        df.at[row_index, 'underperforming'] = 1
    else:
        df.at[row_index, 'underperforming'] = 0

In [11]:
df

     year      month  passengers  underperforming
0    1949    January         112              1.0
1    1949   February         118              1.0
2    1949      March         132              1.0
3    1949      April         129              1.0
4    1949        May         121              1.0
5    1949       June         135              1.0
6    1949       July         148              1.0
7    1949     August         148              1.0
8    1949  September         136              1.0
9    1949    October         119              1.0
10   1949   November         104              1.0
11   1949   December         118              1.0
12   1950    January         115              1.0
13   1950   February         126              1.0
14   1950      March         141              1.0
15   1950      April         135              1.0
16   1950        May         125              1.0
17   1950       June         149              1.0
18   1950       July         170              1.0
19   1950     August         170              1.0
20   1950  September         158              1.0
21   1950    October         133              1.0
22   1950   November         114              1.0
23   1950   December         140              1.0
24   1951    January         145              1.0
25   1951   February         150              1.0
26   1951      March         178              1.0
27   1951      April         163              1.0
28   1951        May         172              1.0
29   1951       June         178              1.0
..    ...        ...         ...              ...
114  1958       July         491              0.0
115  1958     August         505              0.0
116  1958  September         404              0.0
117  1958    October         359              0.0
118  1958   November         310              0.0
119  1958   December         337              0.0
120  1959    January         360              0.0
121  1959   February         342              0.0
122  1959      March         406              0.0
123  1959      April         396              0.0
124  1959        May         420              0.0
125  1959       June         472              0.0
126  1959       July         548              0.0
127  1959     August         559              0.0
128  1959  September         463              0.0
129  1959    October         407              0.0
130  1959   November         362              0.0
131  1959   December         405              0.0
132  1960    January         417              0.0
133  1960   February         391              0.0
134  1960      March         419              0.0
135  1960      April         461              0.0
136  1960        May         472              0.0
137  1960       June         535              0.0
138  1960       July         622              0.0
139  1960     August         606              0.0
140  1960  September         508              0.0
141  1960    October         461              0.0
142  1960   November         390              0.0
143  1960   December         432              0.0

[144 rows x 4 columns]

## Desafío 6

Hacer un loop que clasifique los meses donde la cantidad de pasajeros se escapa de la tendencia.

- Para ello, genere dos objetos que guarden la media general y la desviación estandar general de passengers
- Genere una nueva columna en la tabla de datos que se llame outlier y asignele 0.
- Ejecuten un loop que recorra cada observación de passengers , donde si la observación se escapa de la tendencia sea 1, de lo contrario 0.
- Para clasificar los casos que se escapen la tendencia, la observación debe satisfacer una de las siguientes condiciones:
    - La observación debe ser menor a la media menos la desviación estándar, o
    - La observación debe ser mayor a la media más la desviación estándar.
    - ¿Cuántas observaciones se pueden clasificar como casos extremos?

Para ello, genere dos objetos que guarden la media general y la desviación estandar general de passengers

In [12]:
global_mean = np.mean(df['passengers'])
global_mean

280.2986111111111

In [13]:
global_std = np.std(df['passengers'])
global_std

119.54904153277148

Genere una nueva columna en la tabla de datos que se llame outlier y asignele 0.

In [14]:
df['outlier'] = 0

In [15]:
for row_index, row in df.iterrows():
    if row['passengers'] < global_mean - global_std or row['passengers'] > global_mean + global_std:
        df.at[row_index, 'outlier'] = 1

Ejecuten un loop que recorra cada observación de passengers , donde si la observación se escapa de la tendencia sea 1, de lo contrario 0.

Para clasificar los casos que se escapen la tendencia, la observación debe satisfacer una de las siguientes condiciones:

- La observación debe ser menor a la media menos la desviación estándar, o
- La observación debe ser mayor a la media más la desviación estándar.
- ¿Cuántas observaciones se pueden clasificar como casos extremos?

In [16]:
outliers = 0

for row_index, row in df.iterrows():
    if row['outlier'] == 1:
        outliers += 1
        
print('El número de casos extremos es {}'.format(outliers))

El número de casos extremos es 53